Package: com.nactro.wechatfakesteps
Name: 微信刷步数
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: 更改微信步数，驰骋朋友圈。
Maintainer: NactroTeam
Author: NactroTeam
Section: Tweaks
Icon: file:///Library/PreferenceBundles/WechatSettings.bundle/icon.png
Version: 3.0-11+debug
Installed-Size: 412
