Package: com.watcher.wechatfakesteps
Name: WechatFakeSteps
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Fake your Wechat Foot-Steps!
Maintainer: ChanYu
Author: ChanYu
Section: Tweaks
Icon: file:///Library/PreferenceBundles/WechatSettings.bundle/icon.png
